.banner-c{
	width: 100%;
	background: url(../img/B.png);
	clear: both;
	height: 70px;
	text-align: center;
	box-sizing: border-box;
	transition: 0.4s;
}

.banner-c h1{
	margin-top: 80px;
	text-align: center;
	font-family: 'mifuente2';
	color: rgb(1,38,57);
	font-size: 40px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	padding-top: 10px;
	letter-spacing: 2px;
}	

.seccionc{
  padding-top:80px;
	display:flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	width: 100%;
	background-position: initial;
	background-size: 100%;
}
.c1{
	 background-color: white;
	 height: 540px;
	 top: 50px;
	 width:420px;
	 bottom: 9px;
	 border: 3px solid rgb(1,37,58);
	 border-radius: 15px;
	 box-sizing: border-box;	
	 color: rgb(1,38,57);
	 display: inline-block;
	 margin-top: 3rem;
	 margin-bottom: 3rem;
 }


 .c1 h1{
 	text-align: center;
	font-family: 'mifuente2';
	font-size: 35px;
	margin-top: 10px;
	color: rgb(1,38,57);
 }

 .c2{
	 background-color: white;
	 height: 525px;
	 width: 750px;
	 bottom: 9px;
	 border: 3px solid rgb(1,37,58);
	 border-radius: 15px;
	 box-sizing: border-box;
	 color: rgb(1,38,57);
	 float: right;
	 margin-top: 3rem;
	 margin-bottom: 3rem;
}

.contenido-formulario{
	width: 100%;
	height: 30px;
	margin:0px auto;
	padding: 0px 0px 0px 0px;
	display: inline-block;
	text-align: center;
	font-family: 'mifuente';
	color: black;
	font-size: 16px;
	

}


.c2 h1{
 	text-align: center;
	font-family: 'mifuente2';
	font-size: 35px;
	margin-top: 10px;
	color: rgb(1,38,57);

}

.correr{
	margin-top: 15px;
	width:89%; 
	border: 2px solid rgb(1,37,58);
	font-family: 'mifuente';
	color: black;
	font-size: 15px;


}

.datos{
	float: left;
	width: 29%;
	margin: auto;
	color:#999;
	margin-top: 9rem;
	font-family: 'mifuente2';
}

.datos-contacto{
	list-style: none;
	text-align: center;
	float: right;
}
.datos-contacto li{
	color: #444;
	padding-bottom: 5px;
}
.datos-contacto li i{
	color: rgb(0,33,73);
	font-size: 60px;
}
.limpia{
	clear: both;
}

/*------------NUEVA SECCION------------*/
.contenedor-columnas2{
	width: 100%;
	height: 160px;
	display:flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.column-container{
	flex: 1 0 0;
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.columnasx3{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 150px;
}

.columnasx3 h2{
	font-family: 'mifuente';
	color:  #fff; 
	font-size: 25px;
	text-decoration: none;
}
.columnasx3 ul {
	text-align: justify;
	font-family: 'mifuente';
	color:   #fff;  
	font-size: 16px;
	width: 90%;
}

.columnasx3 img{
	width: 25%;
}

a {
	text-decoration: none;
}


.FoN{
	background-image: url(../img/B1.png);
	width: 100%;
	height: 120px;
	margin-top: 6rem;
}


.F1N {

	text-align: center;
	color: white;
	font-family: 'mifuente';
	font-size: 18px;
	padding:19px;
	float: left;
	margin-left: 13rem;
	margin-top: 1rem;
	text-decoration:none;
}

.F2N {
	
	text-align: center;
	color: white;
	font-family: 'mifuente';
	font-size: 18px;
	padding:19px;
	float: left;
	margin-top: 1rem;

}

.F3N{
	
	text-align: center;
	color: white;
	font-family: 'mifuente';
	font-size: 18px;
	padding:19px;
	float: left;
	margin-top: 1rem;

}