.navigation{
  background-image:url("../img/B.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: 80px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  &-navTitle{
    text-align: center;
    flex: 0 1 250px;
    margin:0;
    color:white;
    font-size: responsive 16px 30px;
  }

  &-navList{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    flex: 0 1 400px;
    height: 50px;
  }

  & li{
    list-style: none;
    color:white;

    & a {
      text-decoration:none;
    }
  }

}